.checkout_ad{
    width: 100%;
    margin-bottom: 10px;
    
}
.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;

}
body{
    background-color: rgb(247, 241, 241);
}
.checkout_title{
    margin-right: 10px;
    padding:10px;
    border-bottom: 1px solid lightgray;
}